telethon
requests
gtts
urbandict
gsearch
wikipedia
speedtest-cli
zalgo_text
hastebin-client
pybase64
google_images_download
hachoir
Pillow
telegraph
sqlalchemy
gTTS
googletrans
spongemock
gTTS-token
psycopg2
python-dotenv
aiohttp
telethon-session-sqlalchemy
async_generator
